/* Importing fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto+Mono:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/* Setting the font & background colors, font family */
body{
  font-family: 'Roboto Condensed';
  color: white;
  background-color: #09021f;
}

/* Setting background image for the body */
#first-section {
  background-image: url("Images/Backgroundimg.jpg");
  background-position: center;
}

/* setting splash screen's color, position, and centering it  */
#Splash {
  color: white;
  background-color: rgb(14, 14, 29);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; 
}

/* setting splash screen heading */
h1{ 
  position:relative;
  font-size: 14hw;
  color: #10101a;
  -webkit-text-stroke:0.3vw #10101a;
  text-transform: uppercase;
}
h1::before{
  content: attr(data-text);
  position: absolute;
  top:0;
  left: 0;
  width: 0;
  height:100%;
  color: rgb(98, 0, 255);
  -webkit-text-stroke:0.1vw rgb(98, 0, 255);
  border-right: 2px solid rgb(252, 252, 252);
  overflow: hidden;
  animation: animate 2.5s forwards;
}

@keyframes animate{
  0%,10%,100%{
      width:0;
  }
  70%,90%{
      width:100%;
  }
}

/* img used with on top corner*/
.Headimg{
  width: 60px;
}

/* Setting the main text position and font */
#Textmain{
  position:absolute;
  font-family:'Roboto Condensed';
  font-size:45px;
  top: 28%;
  left: 17%;
}

#Textmain2{
  position: absolute;
  font-family:'Roboto Condensed';
  font-size: 43px;
  top: 35%;
  left: 17%;
}
#Textmain3{
  position: absolute;
  word-spacing: 5px;
  font-family:'Roboto Mono';
  font-size: 21px;
  max-width: 1220px;  
  top: 38%;
  left: 17%;
}
#Textmain4{
  font-family:'Handlee';
  font-size: 21px;  
  margin-top: 410px;
  padding-left: 320px;
}

#Textmain5{
  font-family:'Handlee';
  font-size: 21px;  
  margin-top: 100px;
  padding-left: 320px;
}
#Textmain6{
font-family:'Handlee';
  font-size: 21px;  
  margin-top: 310px;
  padding-left: 320px;}
/* setting the color of my name and font */
.namecolor{
  font-family: 'Roboto Mono';
  color: rgb(98, 0, 255);
}

/* setting the start button styling */
.namecolor1{
  text-shadow: #000000e3 1px 0px 0px;
  text-decoration: underline rgb(80, 76, 76);
  color: rgb(255, 255, 255);
}


/* NAME */
.myname {
  padding-left:10px;
  font-size: 33px;
  font-family: 'Roboto Mono';
}

/* styling the Color for the signs*/
.symbol {
  font-size: 30px;
  color: rgb(98, 0, 255);
}
.symbol1 {
  color: rgb(98, 0, 255);
}

/* styling the line which divides the page   */
.Line {
  position: absolute;
  top: 30%;
  left: 15%;
  height: 425%;
  width: 2px;
  background-color: rgb(98, 0, 255);
}  
/* Styling for the line project pg 1*/
.Line2 {
  position: absolute;
  top: 30%;
  left: 15%;
  height: 327%;
  width: 2px;
  background-color: rgb(98, 0, 255);
} 
/* Styling for the line project pg 2*/
.Line3 {
  position: absolute;
  top: 30%;
  left: 15%;
  height: 385%;
  width: 2px;
  background-color: rgb(98, 0, 255);

} /* Styling for the line project pg 4 */
.Line4 {
  position: absolute;
  top: 30%;
  left: 15%;
  height: 130%;
  width: 2px;
  background-color: rgb(98, 0, 255);
} 
/* Styling for the line project pg 4 */
.Line5{
  position: absolute;
  top: 30%;
  left: 15%;
  height: 130%;
  width: 2px;
  background-color: rgb(98, 0, 255);

}

/* styling the small circle for all the pages */
.circle{
  position: absolute;
  top: 28%;
  left: 14.49%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(98, 0, 255);
}
.circle1{
  position: absolute;
  top: 453vh;
  left: 14.52%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(98, 0, 255);
}
.circle2{
  position: absolute;
  top: 357vh;
  left: 14.5%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(98, 0, 255);
}
.circle3{
  position: absolute;
  top: 414vh;
  left: 14.45%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(98, 0, 255);
}
.circle5{
  position: absolute;
  top: 159vh;
  left: 14.55%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(98, 0, 255);
}
.circle4{
  position: absolute;
  top: 159vh;
  left: 14.55%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(98, 0, 255);
}

/*--------- Code writing on the side ------------ */

#Codetxt {
  margin-top: 15px;
  display: flex;
  font-size: 20px;
  padding-left: 300px;
  font-family: 'Handlee';
  opacity: 50%;
  margin-bottom: -10px;
}
#Codetxt1 {
  display: flex;
  font-size: 20px;
  padding-left: 285px;
  font-family: 'Handlee';
  opacity: 50%;
  margin-bottom: -10px;
}
#Codetxt2 {
  display: flex;
  font-size: 20px;
  padding-left: 300px;
  font-family: 'Handlee';
  opacity: 50%;
  margin-top: 70px;
  margin-bottom: -120px;
}
#Codetxt3 {
  display: flex;
  font-size: 20px;
  padding-left: 310px;
  font-family: 'Handlee';
  opacity: 50%;
  margin-top: 120px;
  margin-bottom: -110px;
}
#Codetxt4 {
  display: flex;
  font-size: 20px;
  padding-left: 300px;
  font-family: 'Handlee';
  opacity: 50%;
  margin-top: 120px;
  margin-bottom: -110px;
}
#Codetxt5 {
  display: flex;
  font-size: 20px;
  padding-left: 300px;
  font-family: 'Handlee';
  opacity: 50%;
  margin-top: 220px;
}

#Codetxt7 {
  display: flex;
  font-size: 20px;
  padding-left: 285px;
  font-family: 'Handlee';
  opacity: 50%;
  margin-top: -20px;
}
#Codetxt6 {
  display: flex;
  font-size: 20px;
  padding-left: 310px;
  font-family: 'Handlee';
  opacity: 60%;
}
#Codetxt8{
  display: flex;
  font-size: 20px;
  padding-left: 380px;
  font-family: 'Handlee';
  opacity: 50%;
  margin-top: 70 -120px;
}
#Codetxt9 {
  display: flex;
  font-size: 20px;
  font-family: 'Handlee';
  opacity: 50%;
  margin-top:60px;
  margin-bottom: 20px;
 
}

/* styling the "let's start button" */
.starttxt {
    font-family:'Roboto Mono';
  padding-left: 17%;
  padding-top: 42%;
}
.starttxt a {
  color: grey;
}

/* styling the sub heading for each section */
#title2 {
  padding-top: 5.5%;
  padding-left: 10%;
  font-family: 'Roboto Condensed';
  opacity: 50%;
  font-size: 60px;
  position: relative; 
}
#title3 {
  padding-top: 5.5%;
  padding-left: 10%;
  font-family: 'Roboto Condensed';
  opacity: 50%;
  font-size: 60px;
  position: relative; 
}

/* -------------styling for The Expertise------------ */

/* Styling the cards and aligning them */
.cover {
  padding-left: 10%; 
  padding-right: 1.5%; 
  height: 300px;
  padding-top: 7%;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  margin-bottom: -100px;
}
/* Stying the cards color,font and aligning them*/
.box {
  font-family: 'Roboto Mono';
  width: 350px;
  text-align: center;
  border: rgb(73, 2, 121) solid;
  border-radius: 4%;
  padding: 10px;
  margin: 9px;
  box-shadow: 0 0 20px -2px white;
  word-spacing: 5px;
}
/*  Adding underline for the sub heading */
.cover h3{
  justify-items: center;
  font-size: 25px;
  text-decoration: underline purple ;
}

/* styling the my skills bar*/
.progress-bar {
  background-color: #ddd;
  height: 10px;
  border-radius: 30px;
  margin-top: 10px;
  overflow: hidden; 
}
/* styling the color for the progress  */
.progress {
  background-color: #6c63ff;
  height: 100%;
  border-radius: 5px;
}
/*styling the border of 'my skills' */
.Progresscolor {
  margin-left: -50px;
  width: 50%;
  padding: 20px;
  border-radius: 30px;
  margin-bottom: 20px;
  font-family: 'Roboto Mono';
  text-align: left;
  border: rgb(73, 2, 121) solid;
  box-shadow: 0 0 20px -2px white;
}

/* -------------styling for my Projects------------ */

/* Aligning the cards */
.card-container {
  display: flex;
  padding-left: 380px;
  flex-wrap:wrap;
}

/* styling for each project card */
.card {
  position: relative;
  box-shadow: 0px 0 20px -2px white;
  width: 400px;
  border: rgb(73, 2, 121) solid;
  border-radius: 10px;
  padding: 10px;
  margin-right: 100px; 
  margin-left: 50px;
  margin-bottom: 40px;
}


.card1 img {
  box-shadow: 0px 0 20px -2px white;
  border: rgb(73, 2, 121) solid;
}

/* Adding filter to the image */
.card img {
  filter:blur(10px);
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

/* Aliging the sub-heading of card  */
.txtimg{
  margin-top: 45px;
  margin-bottom: 20px;
}

/* Removing the filter when hover on it  */
.card:hover{
  filter: blur(0px);
}

/* Styling and positioning the sub-heading */
.card h3 {
  font-family: 'Roboto Mono';
  margin: 0;
  font-size: 18px;
  text-align: left;
  margin-top: -40px;
}

/* Styling the button for viewing the project  */
.card a {
  font-family: 'Roboto Condensed';
  text-align: left;
  width: 90px;
  display: block;
  margin-top: 20px;
  color: #ffffff;
  padding: 8px;
  border-radius: 4px;
  text-decoration: underline;  
}

/* styling the text on img and changin font and color */
.centered {
  text-shadow: 1px 4px #10101a;
  position: absolute;
  top: 39%;
  left: 30%;
  font-family: "Roboto Condensed";
  font-size: 20px;
}

/* Aliging the text of card  */
.container1 {
  text-align: center;
}

/* Removing the text when hover */
.container1:hover .centered {
  display: none;
}

/* Positioning the project card */
.card {
  position: relative;
}

/* Adding blur to the card img with transition*/
.card img {
  filter: blur(8px);
  transition: filter 0.6s ease;
  position:relative;
}

/* Removing the filter when hover  */
.card:hover img {
  filter: blur(0px); 
}

/* -------------styling for Project pages------------ */
/* Aligning the Project images  */ 
.Project1img{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* Styling the project view button */
.Project1btn {
  width: 250px;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0 10px -2px white;
  border: rgb(73, 2, 121) solid;
  padding: 10px 20px;
  border-radius: 9px;
  transition:  2s ease;
}

/* Styling the color of button */
.Project1btn a {
  color: #ffffff;
  text-decoration: none;
}

/* Changing the color when hover */
.Project1btn:hover{
  background-color: #ff47f6;
  transition: 2s ease;
}

/* Styling the position of button */
.Project1btn1{
  display: flex;
  justify-content: center;
  padding-top: 210px;
}

/* -------------styling for Aboutme------------ */
.Aboutme{
  font-family: "Handlee";
  font-size: 18px;
  padding-left: 300px;
}
/* -------------styling for footer------------ */
/* Aligning the footer */
.footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
  position: relative;
}

/* styling the footer background */
#footercolor{
  padding: 50px;
  background:linear-gradient(to bottom, #09021f,#5500ff3d);
}

/*  
.footer-line {
  display: block;
  width: 200px;
  height: 3px;
  background-color:rgb(73, 2, 121);
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 8px;
  margin-left: auto;
}

.footer-text {
  font-size: 23px;
}*/

/* Styling the text above button */
#project1txt{
  font-size: 35px;
  font-family: 'Handlee';
  padding-left: 670px;
  margin-bottom: -110px;
} 

/* Styling the text for footer*/
#footertxt{
  font-size: 20px;
  font-family: 'Handlee';
  text-align: center;
}

/* Styling for the 'Get in touch' Button */
#footerbtn {
  font-family:'Roboto Condensed';
  background: linear-gradient( purple, blue);
  border: none;
  width: 155px;
  height: 45px;
  transition: 0.9s;
  cursor:grabbing;
  border-radius: 41px;
}

/* Styling for text in 'Get in touch' Button */
#footerbtn a {
  text-decoration: none;
  font-size: 20px;
  color: rgb(216, 203, 203);
}

/* Changing the text when you hover */
#footerbtn:hover {
  background: linear-gradient(to right, purple, rgb(14, 14, 141));
}

/* Aligning the social media icons */
.social-media {
  margin-left: 10px;
}

/* adding space between the icons */
.social-media a {
  margin-right: 16px;
}

/* Styling the decoration images for footer  */
.decor-images .decorimg {
  filter: contrast(3);
  width: 350px;
  position: absolute;
  top: -120px;
  left: 0;
  margin-left: -60px;
}
/* styling the lines to seperate the footer */
.lines-part {
  position: relative;
  width: 100%;
  height: 200px; 
}

/* styling the lines of footer */
.horzoline1,
.horzoline2,
.horzoline3 {
  position: absolute;
  margin-top: -50px;
  height: 3px;
  width: 85%; 
  background: linear-gradient(to right, rgb(73, 2, 121),#19191a3d);
  z-index: 1;
}

/* Aligning the lines no.1 */
.horzoline1 {
  top: 30%;
  left: 15%;
  z-index: 0;
}

/* Aligning the lines no.2 */
.horzoline2 {
  top: 33%;
  left: 15%;
  z-index: 0;
}

/* Aligning the lines no.3 */
.horzoline3 {
  top: 36%;
  left: 15%;
  z-index: 0;
}

/* Removing the extra space  */
.footerheading{
  margin-top: -100px;
}

/* Styling the logo at the footer */
.logo {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url(Images/main-icon.png) no-repeat center;
}

/* Styling the name at the footer */
.name {
  margin-top: -79px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 28px;
}

/* Adding seperator between the logo and text*/
.separator {
  display: inline-block;
  height: 100px;
  width: 4px;
  background-color: #ff00f2;
}

/* Styling github button on top right */
.github-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border: 2px white solid;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgb(255, 255, 255);
}

/* Styling github button text color */
.github-button a {
  color: #ddd;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Roboto Mono';
}
