/* In this style sheet there are nav bar style and the media quieres */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto+Mono:ital,wght@0,700;1,700&display=swap');

.Navigation {
        margin: 0;
        padding: 0;
}
/* Navigation styles */
/* Styles for the navigation bar */
.nav__wrapper {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#side_nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* Removing right margin from elements within the side navigation */
#side_nav li a {
  margin-right: 0;
}
/* Styling for each list item the side navigation */
#side_nav li {
  position: relative;
  padding-right: 10px; 
}

/* Removing bottom margin from the last list item */
#side_nav li:last-child {
  margin-bottom: 0;
}

/* Styling for the vertical line before each list item */
#side_nav li:before {
  content: '';
  position: absolute;
  top: 0;
  right: -4px;
  width: 4px;
  height: 100%; 
  background-color: rgb(98, 0, 255);
  transform: scaleY(0);
  transition: transform 0.4s ease-in-out;
}

/* Scaliing the vertical line on hover */
#side_nav li:hover:before {
  transform: scaleY(1);
}

#side_nav li a {
  height: 50px;
  color: #d8d8d8;
  text-align: center;
  line-height: 46px;
  text-decoration: none;
  font-family:'Roboto Mono';
  font-size: 15px;
  position: relative;
  overflow: hidden;
}

/* Changing color on hover */
#side_nav li a:hover{
  color: rgb(98, 0, 255);
}

/* Style for the span element within the anchor elements */

#side_nav li span {
  display: inline-block;
  margin-right: 10px;
  padding-left: 10px;
  border-left: 2px solid #f8f4f4;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}      
      
.line {
  position: fixed;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  height: 230px;
  width: 4px;
  background-color: #f8f6f6;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1200px){

  .Line {
    height: 345%;
  } 
  .circle1{
    top: 375vh;
    left: 14.5%;
  }
  
}

/* For screens larger than 1200px (desktops) */
@media (min-width: 1200px) and (max-width: 1365px){
  /* CSS rules for desktop screens */
  #Codetxt,#Codetxt6{ padding-left: 235px;
    font-size: 16.5px;
    padding-right: 5px;
  }
  #Codetxt1, #Codetxt2,#Codetxt4,#Codetxt3,#Codetxt7  {
    font-size: 16.5px;
    padding-left: 200px;
    padding-right: 5px;
  }
 
  #Codetxt5 {
    font-size: 16.5px;
    padding-left: 200px;
    margin-top: 220px;
  }
  #Codetxt7{
    font-size: 16.5px;
    margin-top: 5px;
  }
  #Codetxt5a{
    padding-left: 215px;
    font-family: 'Handlee';
    opacity: 50%;
    margin-top: 190px;
  }
  #Codetxt8{
    padding-left: 230px;
  }
  #soundboard1 img{
    width: 750px;
    height: 550px;
  }
  #project1txt{
    font-size: 35px;
    font-family: 'Handlee';
    margin-bottom: -110px;
  } 
  /* For project 2 */
  .Line3{
    height: 419%;
  }
  .circle3{ 
    top: 449vh;
    height: 20px;
  }
    /* For project 1 */
    .Line2{
      height: 360%;
    }
    .circle2{    
      top: 389vh;

      height: 20px;
    }
    .temperaturecalc{
      width: 60%;
      height:40%;
    }
    #Textmain3{
      max-width: 1020px;  
    }
    .starttxt {
      padding-top: 52%;
    }
    .Line {
      height: 345%;
    } 
    .circle1{
      top: 375vh;
      left: 14.5%;
    }
}
@media (min-width: 1366px) and (max-width: 1439px){
  /* CSS rules for desktop screens */
  #Codetxt,#Codetxt6{ padding-left: 235px;
    font-size: 16.5px;
    padding-right: 5px;
  }
  #Codetxt1, #Codetxt2,#Codetxt4,#Codetxt3,#Codetxt7  {
    font-size: 16.5px;
    padding-left: 220px;
    padding-right: 5px;
  }
 
  #Codetxt5 {
    font-size: 16.5px;
    padding-left: 210px;
    margin-top: 220px;
  }
  #Codetxt5a{
    padding-left: 215px;
    font-family: 'Handlee';
    opacity: 50%;
    margin-top: 190px;
  }
  #Codetxt7{
    font-size: 16.5px;
    margin-top: 5px;
  }

  #Codetxt8{
    padding-left: 230px;
  }
  #soundboard1 img{
    width: 750px;
    height: 550px;
  }
  #project1txt{
    font-size: 35px;
    font-family: 'Handlee';
    margin-bottom: -110px;
  } 
  /* For project 2 */
  .Line3{
    height: 419%;
  }
  .circle3{
    top: 449vh;
    height: 20px;
  }
    /* For project 1 */
    .Line2{
      height: 360%;
    }
    .circle2{  
      top: 389vh;
      height: 20px;
    }
    .temperaturecalc{
      width: 60%;
      height:40%;

    }
    #Textmain3{
      max-width: 1120px;  
    }
    .starttxt {
      padding-top: 47%;
    }
    .Line {
      height: 345%;
    } 
    .circle1{
      top: 375vh;
      left: 14.5%;
    }
}
@media (min-width: 1440px) and (max-width: 1511px){
 
  #Codetxt,#Codetxt6{ padding-left: 235px;
    font-size: 16.5px;
    padding-right: 5px;
  }
  #Codetxt1, #Codetxt2,#Codetxt4,#Codetxt3,#Codetxt7  {
    font-size: 16.5px;
    padding-left: 225px;
    padding-right: 5px;
  }
 
  #Codetxt5 {
    font-size: 16.5px;
    padding-left: 225px;
    margin-top: 225px;
  }
  #Codetxt5a{
    padding-left: 235px;
    font-family: 'Handlee';
    opacity: 50%;
    margin-top: 190px;
  }
  #Codetxt7{
    font-size: 16.5px;
    margin-top: 5px;
  }

  #Codetxt8{
    padding-left: 230px;
  }
  #soundboard1 img{
    width: 750px;
    height: 550px;
  }
  #project1txt{
    font-size: 35px;
    font-family: 'Handlee';
    margin-bottom: -110px;
  } 
  /* For project 2 */
  .Line3{
    height: 419%;
  }
  .circle3{
    top: 449vh;
    height: 20px;
  }
    /* For project 1 */
    .Line2{
      height: 360%;
    }
    .circle2{
      top: 389vh;
      height: 20px;
    }
    .temperaturecalc{
      width: 60%;
      height:40%;

    }
    #Textmain3{
      max-width: 1120px;  
    }
    .starttxt {
    padding-top: 47%;
  }
  .Line {
    height: 350%;
  } 
  .circle1{
    top: 379vh;
    left: 14.4%;
  }
}
@media (min-width: 1511px) and (max-width: 1599px){

  #Codetxt,#Codetxt6{ padding-left: 245px;
    font-size: 16.5px;
    padding-right: 5px;
  }
  #Codetxt1, #Codetxt2,#Codetxt4,#Codetxt3,#Codetxt7  {
    font-size: 16.5px;
    padding-left: 235px;
    padding-right: 5px;
  }
 
  #Codetxt5 {
    font-size: 16.5px;
    padding-left: 235px;
    margin-top: 225px;
  }
  #Codetxt5a{
    padding-left: 255px;
    font-family: 'Handlee';
    opacity: 50%;
    margin-top: 184px;
  }
  #Codetxt7{
    font-size: 16.5px;
    margin-top: 5px;
  }

  #Codetxt8{
    padding-left: 240px;
  }
  #soundboard1 img{
    width: 750px;
    height: 500px;
  }
  #project1txt{
    font-size: 35px;
    font-family: 'Handlee';
    margin-bottom: -110px;
  } 
  /* For project 2 */
  .Line3{
    height: 419%;
  }
  .circle3{
    top: 449vh;
    height: 20px;
  }
    /* For project 1 */
    .Line2{
      height: 360%;
    }
    .circle2{
      top: 389vh;
      height: 20px;
    }
    .temperaturecalc{
      width: 750px;
    height: 500px;

    }
    #Textmain3{
      max-width: 1120px;  
    }
    .starttxt {
    padding-top: 47%;
  }
  .Line {
    height: 355%;
  } 
  .circle1{
    top: 385vh;
    left: 14.4%;
  }
}
@media (min-width: 1600px) and (max-width: 1679px){
  #Codetxt,#Codetxt6{ padding-left: 270px;
    padding-right: 5px;
  }
  #Codetxt1, #Codetxt2,#Codetxt4,#Codetxt3,#Codetxt7  {
    padding-left: 260px;
    padding-right: 5px;
  }
 /* p */
  #Codetxt5 {
    padding-left: 260px;
    margin-top: 225px;
  }
  #Codetxt5a{
    padding-left: 265px;
    margin-top: 189px;
  }
  #Codetxt7{
    margin-top: 5px;
  }

  #Codetxt8{
    padding-left: 240px;
  }
  .starttxt {
    padding-top: 47%;
  }
  .Line {
    height: 375%;
  } 
  .circle1{
    top: 405vh;
    left: 14.5%;
  }
  .temperaturecalc{
  width: 850px;
  height: 500px;
  }
  #soundboard1 img{
    width: 750px;
    height: 500px;
  }
   /* For project 1 */
  .Line2{
    height: 360%;
  }
  .circle2{
  top: 389vh;
  height: 20px;
  }
}

@media (min-width: 1680px) and (max-width: 1720px) {
 
  #Codetxt5a{
    padding-left: 270px;
    margin-top: 194px;
  }
  .Line {
    height: 375%;
  } 
  .circle1{
    top: 405vh;
    left: 14.5%;
  }
 
  #Textmain4{  
    margin-top: 480px;
 
  }
   /* For project 2 */
   .Line3{
    height: 409%;
  }
  .circle5{
    top: 183vh;
    height: 20px;
  }
  .Line5{
    height: 155%;
  }
}


@media (min-width: 1920px) {
  .Line {
    height: 390%;
  } 
  .circle1{
    top: 420vh;
    left: 14.55%;
  }
  #Codetxt5a{
    padding-left: 320px;
    margin-top: 214px;
  }
  .Line2{
    height: 290%;
  }
  .circle2{
  top: 319vh;
  height: 20px;
  }
  #Textmain4{  
    margin-top: 480px;
 
  }
   /* For project 2 */
   .Line3{
    height: 409%;
  }
  .circle5{
    top: 156vh;
    height: 20px;
  }
  .Line5{
    height: 127%;
  }
  .starttxt {
    padding-top: 47%;
  }
  .Line4 {
    height: 112%;
  } 
  .circle4{
    top: 142vh;
  }
  .Line3 {
    height: 340%;
  } 
  .circle3{
    top: 370vh;
    left: 14.55%;
  }
  #Textmain3{
    max-width: 1020px;  
  }
}