@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto+Mono:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto+Mono:ital,wght@0,700;1,700&display=swap');

.Navigation {
        margin: 0;
        padding: 0;
}
/* Navigation styles */
.nav__wrapper {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

#side_nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#side_nav li a {
  margin-right: 0;
}
#side_nav li {
  position: relative;
  padding-right: 10px; 
}

#side_nav li:last-child {
  margin-bottom: 0;
}

#side_nav li:before {
  content: '';
  position: absolute;
  top: 0;
  right: -4px;
  width: 4px;
  height: 100%; 
  background-color: rgb(98, 0, 255);
  transform: scaleY(0);
  transition: transform 0.4s ease-in-out;
}

#side_nav li:hover:before {
  transform: scaleY(1);
}

#side_nav li a {
  height: 50px;
  color: #d8d8d8;
  text-align: center;
  line-height: 46px;
  text-decoration: none;
  font-family:'Roboto Mono';
  font-size: 15px;
  position: relative;
  overflow: hidden;
}

#side_nav li a:hover{
  color: rgb(98, 0, 255);
}

#side_nav li span {
  display: inline-block;
  margin-right: 10px;
  padding-left: 10px;
  border-left: 2px solid #f8f4f4;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}      
      
.line {
  position: fixed;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  height: 230px;
  width: 4px;
  background-color: #f8f6f6;
  transition: all 0.3s ease-in-out;
}




/* Existing CSS code before media queries */
/* For screens larger than 1200px (desktops) */
@media (min-width: 1200px) {
  /* CSS rules for desktop screens */
  body {
    font-size: 16px;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

/* For screens between 992px and 1199px (laptops) */
@media (min-width: 992px) and (max-width: 1199px) {
  /* CSS rules for laptops */
  body {
    font-size: 14px;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

/* For screens smaller than 991px (small laptops and tablets) */
@media (max-width: 991px) {
  /* CSS rules for small laptops and tablets */
  body {
    font-size: 12px;
  }

  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

/* For screens smaller than 768px (mobile devices) */
@media (max-width: 768px) {
  /* CSS rules for mobile devices */
  body {
    font-size: 10px;
  }

  .container {
    max-width: 100%;
    margin: 0;
    padding: 0 10px;
  }
}
